.contenedor-carrito{
 width: auto;
 height: auto;
}

.bgp{
 text-align: center;
}
.text-carrito{
    text-align: center;
    margin: 0 1rem;
}

.text-carrito ul{
    padding: 0;
}

.text-carrito ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 580;
}

.text-carrito ul li a{
    text-decoration: none;
    color: #B42727;
}

.carrito-carrito{
    display: flex;
    text-align: center;
    font-weight: 500;
}

.carrito {
    font-size: 2rem; 
    margin: 1rem auto;
    margin-bottom: 2.5rem;
    padding: auto; 
    border: 3px solid #0B1442;
    border-radius: 20px;
    padding: 2rem;
    background-color: #212F3D;
}

.carrito form select{
    border-radius: 10px;
    width: 78%;
    border: none;
    font-size: 16px;
    padding: .6rem 1rem;
    font-weight: 580;
    -webkit-appearance: none;
}

.carrito form select option{
    font-size: 16px;
    font-weight: 580;
}

.carrito form input[type="submit"]{
    width: 34%;
    font-size: 22px;
    padding: .4rem 1rem;
    color: #212F3D;
    border: none;
    font-weight: 580;
    border-radius: 7px;
}

.carrito form input[type="submit"]:hover{
    background-color: #1C6F23;
    color: white;
    cursor: pointer;
}

.carrito p{
    color: white;
    font-size: 20px;
}

.carrito i{
    color: white;
}

