/* START ESTILOS GENERALES */
/* START ESTILOS GENERALES */
/* START ESTILOS GENERALES */

.contenedor-general {
    width: 90%;
    max-width: 75rem;
    margin: auto;
}
body{
    font-family: 'Dosis', sans-serif;
}

/* END ESTILOS GENERALES */
/* END ESTILOS GENERALES */
/* END ESTILOS GENERALES */

/* START INDEX */
/* START INDEX */
/* START INDEX */

.header-inicio {
    background-color: #212F3D;
    width: 100%;
}

.contenido-header-inicio {
    display: flex;
}

.contenedor-img{
    background-size:cover;
    background-position: center center;
}

.contenido-header-inicio-img {
    width: 50%;
}

.slider{
	margin: auto;
    overflow: hidden;
    height: 21rem;
}

.slider ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation: cambio 15s infinite;
}

.slider li{
	list-style: none;
	width: 50%;
}

.slider img{
    width: 100%;
    border-radius: 50px;
    height: 20rem;
}

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}

}

.section-inicio {
    background: rgb(226, 226, 226);
    margin: 2rem 0 0 0;
    padding: 1rem 0 2rem 0;
}

.section-inicio h1{
    text-align: center;
    text-decoration-line: underline;
    font-size: 38px;
    font-weight: bold;
}

.presentacion-restaurantes {
    display: flex;
    justify-content: space-between;
}

.presentacion-restaurantes > a {
    width: 48%;
    text-decoration: none;
}

.presentacion-restaurantes > a > div {
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.presentacion-restaurantes h2 {
    color: rgb(73, 73, 73);
    margin: 0;
    padding-bottom: 1rem;
}

.presentacion-restaurantes img{
    width: 100%;
    height: 20rem;
}

.footer-inicio {
    background-color: rgb(71, 71, 71);
    color: white;
}

.footer-inicio > div {
    display: flex;
}

.footer-inicio > div > div {
    font-size: 18px;
    margin: 15px 0;
}

/* END INDEX */
/* END INDEX */
/* END INDEX */

/* START LOGIN */
/* START LOGIN */
/* START LOGIN */

form {
	margin: auto;
	width: 50%;
	max-width: 400px;
	background: #F3F3F3;
	padding: 20px;	
	border: 2px solid rgba(0,0,0,0.2);
	
}

input {
	padding: 20px;
	margin: 20px 0;
	font-size: 15px;
	display: block;
	width: 90%;
}

input[type="submit"]{
	border: 0;
	color: brown;
    margin: auto;
	background: linear-gradient(#FFDA63, #FFB940);
	cursor: pointer;
	border-radius: 50rem;
	margin-bottom: 3;
}
input[type="submit"]:hover{
	opacity: 1;

}
input[type="submit"]:active{
	transform: scale(0.95);
}

/* END LOGIN */
/* END LOGIN */
/* END LOGIN */

/* START MENU */
/* START MENU */
/* START MENU */

.header-restaurante > div{
    height: 25vh;
    width: 100%;
}

.header-restaurante > div > img {
    height: 100%;
    width: 100%;
}

.header-restaurante > nav {
    background-color: teal;
}

.header-restaurante ul {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.header-restaurante nav a {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 1rem 4rem;
    font-size: 20px;
}

.barra{
    width: 100%;
    height: 80px;
    background-color: #B89257;
    display: flex;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.contenedor{
	width: 100%;
	margin: 0 auto;
}

.seccion{
	margin-top: 90rem;
	margin-bottom: 2rem;
}

.fw-300{
	font-weight: 1000;
	color: #fff;
}

.site-footer {
	background-color: #684B1E;
    display: flex;
    width: 100%;
    height: 80px;
    text-align: center;
}

.site-footer p{
    color: white;
    margin:auto;
}

.centro{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 1000px;
}

/*MENU.HTML*/

.menu-carta{
    display: block;
    width: 100%;
    margin: 0;
}

.direccion-texto{
    display: block;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}
.direccion-carrito{
    float: right;
}
.carta{
    margin: 0;
}
.comidas{
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    margin: 0;
}
.h{
    margin: 0;
}
.bloque1{
    display: block;
    column-count: 2;
}
.bloque1 li{
    column-count: 2;
}
.bloque1 li p{
    text-align: right;
}
.bloque1 img{
    height: auto;
    max-width: 50%;
    float: right;
}
.bloque2{
    display: block;
    column-count: 2;
}
.bloque2 li{
    column-count: 2;
}
.bloque2 li p{
    text-align: right;
}
.bloque2 img{
    height: auto;
    max-width: 60%;
}
.bloque3{
    display: block;
    column-count: 2;
}
.bloque3 li{
    column-count: 2;
}
.bloque3 li p{
    text-align: right;
}
.bloque3 img{
    height: auto;
    max-width: 50%;
    float: right;
}

/* QUIENES SOMOS */

.introduccion-quienes-somos {
    font-size: 25px;
    text-align: justify;
}

.mapa-quienes-somos{
    text-align: center;
    border: 3px solid #969696; 
    float: left;
    width: 60%;
    height: 30rem;
    margin: 0 1rem 1rem 0;
}

.mapa-quienes-somos p{
    height: 1.1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.mapa-quienes-somos > iframe {
    width: 100%;
    height: 26.9rem;
}

.dentro{
    display: flex;
    width: 100%;
     
}
.dentro div{
    color: black; 
    width: 100%;
    height: 100%;
    text-align: center;   
    border: 3px solid #f5f5f5; 
}

.gastosdeenvio h1{
    font-size: 3rem;
    margin: 4rem;
}
.formadepago h4{
    font-size: 3rem;
    margin: 3.1rem;
}
.formadepago p{
    display: inline-flex;
    padding: 0 2rem;
}
.horariodeatencion h2{
    font-size: 3rem;
    margin: 4rem;
}

.telefono h3{
    font-size: 3rem;
    margin: 4rem;
}

.correoelectronico h5{
    font-size: 3rem;
    margin: 4rem;
}
.ubicacion h6{
    font-size: 3rem;
    margin: 4rem;
}
