@media screen and (max-width: 800px){
    
    .div{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px){ 
    .contenido-main-somos > div > div {
        width: 100%;
    }
}
@media (max-width: 800px){ 
    .introduccion-quienes-somos > p {
        font-size: 1rem;
    }
}