:root {
    --principal-color: #212F3D;
    --principal-hover: #212f3de8;
}


/* LOGIN NEW */

.container-login-new {
    background-color: #f2f2f2;
}

.login-img-right {
    background-color: var(--principal-color);
}

.login-img-right > img {
    opacity: 0.3;
}

.container-login-text-right {
    top: 0;
}

.login-text-right  img{
    width: 3.5rem;
}

.color-header {
    color: var(--principal-color);
}

.draw-one{
    background-color: var(--principal-hover);
    border: 1rem solid var(--principal-color);
    top: -10rem;
    left: -10rem;
    width: 30rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
}

.draw-two {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    height: 10rem;
    width: 20rem;
    overflow: hidden;
}

.draw-two .container { 
    background-color: var(--principal-hover);
    border: 1rem solid var(--principal-color);
    bottom: -8rem;
    right: -10rem;
    width: 25rem;
    height: 15rem;
    position: absolute;

    border-radius: 50%;
}

/* START ESTILOS GENERALES */
/* START ESTILOS GENERALES */
/* START ESTILOS GENERALES */

.contenedor-general {
    width: 90%;
    max-width: 75rem;
    margin: auto;
}

body{
    font-family: 'Dosis', sans-serif;
}

/* END ESTILOS GENERALES */
/* END ESTILOS GENERALES */
/* END ESTILOS GENERALES */

/* START INDEX */
/* START INDEX */
/* START INDEX */

.header-inicio {
    background-color: #212F3D;
    width: 100%;
}

.contenido-header-inicio {
    display: flex;
}

.contenedor-img{
    background-size:cover;
    background-position: center center;
}

.contenido-header-inicio-img {
    width: 50%;
}
/* 
.slider{
	margin: auto;
    overflow: hidden;
    height: 21rem;
}

.slider ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation: cambio 15s infinite;
}

.slider li{
	list-style: none;
	width: 50%;
}

.slider img{
    width: 100%;
    border-radius: 50px;
    height: 20rem;
}

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}

} */

.view-restaurants > h1 {
    font-weight: 700;
}

.view-restaurants  h2 {
    font-weight: 600;
    font-size: 27px;
}

.carrito-compras{
    width: 23px;
}

.section-inicio {
    background: rgb(226, 226, 226);
    margin: 2rem 0 0 0;
    padding: 1rem 0 2rem 0;
}

.section-inicio h1{
    text-align: center;
    text-decoration-line: underline;
    font-size: 38px;
    font-weight: bold;
}

.presentacion-restaurantes {
    display: flex;
    justify-content: space-between;
}

.presentacion-restaurantes > a {
    width: 48%;
    text-decoration: none;
}

.presentacion-restaurantes > a > div {
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.presentacion-restaurantes h2 {
    color: rgb(73, 73, 73);
    margin: 0;
    padding-bottom: 1rem;
}

.presentacion-restaurantes img{
    width: 100%;
    height: 20rem;
}

.footer-inicio {
    background-color: rgb(71, 71, 71);
    color: white;
}

.footer-inicio > div {
    display: flex;
}

.footer-inicio > div > div {
    font-size: 18px;
    margin: 15px 0;
}

/* END INDEX */
/* END INDEX */
/* END INDEX */

/* START LOGIN */
/* START LOGIN */
/* START LOGIN */

/* form {
	margin: auto;
	width: 50%;
	max-width: 400px;
	background: #F3F3F3;
	padding: 20px;	
	border: 2px solid rgba(0,0,0,0.2);
	
}

input {
	padding: 20px;
	margin: 20px 0;
	font-size: 15px;
	display: block;
	width: 90%;
}

input[type="submit"]{
	border: 0;
	color: brown;
    margin: auto;
	background: linear-gradient(#FFDA63, #FFB940);
	cursor: pointer;
	border-radius: 50rem;
	margin-bottom: 3;
}
input[type="submit"]:hover{
	opacity: 1;

}
input[type="submit"]:active{
	transform: scale(0.95);
} */

/* END LOGIN */
/* END LOGIN */
/* END LOGIN */

/* START MENU */
/* START MENU */
/* START MENU */

.header-restaurante > div{
    height: 25vh;
    width: 100%;
}
.header-restaurante nav ul li a:hover{
    background-color: #969696;
    color: black;
}
.header-restaurante > div > img {
    height: 100%;
    width: 100%;
}

.header-restaurante > nav {
    background-color: #212F3D;
}

.header-restaurante ul {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.header-restaurante nav a {
    text-decoration: none;
    padding: 1rem 4rem;
    color: white;
    display: flex;
    font-size: 20px;
}

/* END MENU */
/* END MENU */
/* END MENU */

/* START QUIENES SOMOS */
/* START QUIENES SOMOS */
/* START QUIENES SOMOS */

.logo-icono {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo-icono img {
    width: 3.2rem;
    height: 3.2rem;
}

.introduccion-quienes-somos {
    font-size: 25px;
    text-align: justify;
}

.contenido-main-somos > div {
    display: flex;
    justify-content: space-between;
}

.contenido-main-somos > div > div{
    width: 48%;
    border: 3px solid #969696;
    background-color: rgb(220, 255, 217);
    margin-bottom: 1rem;
}

.contenido-main-somos h2 {
    text-align: center;
    margin: 0.6rem 0;
}

.contenido-main-somos p {
    margin: 1rem 0;
}

.mapa-quienes-somos{
    text-align: center;
    border: 3px solid #969696; 
    width: 100%;
    height: 30rem;
    margin: 0 0 1rem 0;
    background-color: rgb(220, 255, 217);
}

.mapa-quienes-somos h3{
    height: 1.1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.mapa-quienes-somos > iframe {
    width: 100%;
    height: 26.1rem;
}

#cate-edit-pro {
    display: none;
}


/* END QUIENES SOMOS */
/* END QUIENES SOMOS */
/* END QUIENES SOMOS */

/* START HACER PEDIDOS */
/* START HACER PEDIDOS */
/* START HACER PEDIDOS */

.carta {
    background-color: #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.carta > div {
    background-color: white;
    padding-bottom: 2rem;
}

.carta > div > h1 {
    margin: 0;
    text-align: center;
    padding: 1.5rem 0 1rem 0;
    text-decoration-line: underline;
    font-size: 35px;
}

.contenido-carta {
    width: 80%;
    margin: auto;  
}

.contenido-carta h2 {
    font-size: 30px;
    margin: 0;
}

.contenido-carta > div{
    margin: 1rem auto 2rem auto;
}

.productos-carta {
    width: 80%;
    background-color: rgb(220, 255, 217);
    border-radius: 5px;
    border: 1px solid  green;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    padding: 1rem;
}

.contenido-carta > div h3 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

.carritos {
    color: #212F3D;
}


/* END HACER PEDIDOS */
/* END HACER PEDIDOS */
/* END HACER PEDIDOS */

/* START BIENVENIDA */
/* START BIENVENIDA */
/* START BIENVENIDA */

.bienvenida-page {
    margin-top: 2rem;
}

.bienvenida-page > div > img {
    width: 40rem;
    height: 22rem;
    margin: 4.5rem 0 1rem 2rem;
}

.bienvenida-page > div > img:first-child {
    float: right;
}

.bienvenida-page > div > img:last-child {
    display: none;
}

.bienvenida-page  h1 {
    font-size: 35px;
    text-transform: uppercase;
}

.bienvenida-page > div > p {
    font-size: 20px;
    text-align: justify;
    min-height: 22rem;
}

.bienvenida-page > div {
    margin: 3rem 0;
}

.destacados-bienvenida {
    display: flex;
    justify-content: space-between;
}

.destacados-bienvenida div {
    width: 31%;
    background-color: #212F3D;
    border-radius: 15px;
}

.destacados-bienvenida img {
    width: 90%;
    height: 15rem;
    margin: 1rem 5% 0 5%;
}

.destacados-bienvenida h3 {
    font-size: 18px;
    margin: 1.5rem;
    font-weight: 400;
    text-align: justify;
    color: white;
}

/* END BIENVENIDA */
/* END BIENVENIDA */
/* END BIENVENIDA */

/* START PANEL DE CONTROL */
/* START PANEL DE CONTROL */
/* START PANEL DE CONTROL */

.panel-control {
    display: flex;
    min-height: 100vh;
}

.panel-control nav ul li{
    text-decoration: none;
     margin: 1rem;

}

.panel-control nav ul li:hover{
    cursor: pointer;
}

.panel-control > nav {
    width: 20%;
    background-color: #212F3D;
    color: white;
}

.panel-control > nav ul {
    padding: 0;
    margin: 0;
}

.panel-control > nav ul li {
    list-style: none;
    margin: 0;
    display: flex;
}

.panel-control > nav a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 1rem 1rem;
    width: 100%;

}

.panel-control > nav ul li:first-child a {
    border-top: 2px solid black;
}

.panel-control > div {
    width: 80%;
    background-color: #f2f2f2;
}

.contenido-panel-home {
    text-align: center;
    padding: 5rem 0;
}

.contenido-panel-home  img {
    width: 15rem;
}

.contenido-panel-home  p {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.contenido-panel-home a {
    background-color: white;
    color: brown;
    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid brown;
    font-size: 20px;
    border-radius: 30px;
    font-weight: 700;
}

.formulario-panel h1{
    text-transform: uppercase;
    text-align: center;
}

.formulario-panel form {
    width: 70%;
    margin: auto;
}

.form-panel p {
    font-size: 18px;
}

.form-panel input {
    font-size: 18px;
    font-weight: 500;
}

.h-24r{
    height: 18rem;
}

/*añadir carrito*/
.contenedor-carrito{
    width: auto;
    height: auto;
   }
   
   .bgp{
    text-align: center;
   }
   .text-carrito{
       text-align: center;
       margin: 0 1rem;
   }
   
   .text-carrito ul{
       padding: 0;
   }
   
   .text-carrito ul li{
       list-style: none;
       font-size: 20px;
       font-weight: 580;
   }
   
   .text-carrito ul li a{
       text-decoration: none;
       color: #B42727;
   }
   
   .carrito-carrito{
       display: flex;
       text-align: center;
       font-weight: 500;
   }
   
   .carrito {
       width: 70%;
       font-size: 2rem; 
       margin: 1rem auto;
       margin-bottom: 2.5rem;
       padding: auto; 
       border: 3px solid #0B1442;
       border-radius: 20px;
       padding: 2rem;
       background-color: #212F3D;
   }
   
   .carrito form select{
       border-radius: 10px;
       width: 22%;
       height: 40px;
       border: none;
       font-size: 16px;
       padding: .6rem 1rem;
       font-weight: 580;
       -webkit-appearance: none;
       text-align-last: center;
   }
   
   .carrito form select option{
       font-size: 16px;
       font-weight: 580;
   }
   
   .carrito form input[type="submit"]{
       width: 30%;
       font-size: 22px;
       padding: .5rem 1rem;
       color: #212F3D;
       border: none;
       font-weight: 580;
       border-radius: 7px;
   }
   
   .carrito form input[type="submit"]:hover{
       background-color: #1C6F23;
       color: white;
       cursor: pointer;
   }
   
   .carrito p{
       color: white;
       font-size: 20px;
   }
   
   .carrito i{
       color: white;
   }
   
   .table{
       width: 100%;
       margin: 2rem auto;
   }
   
   .table thead tr th{
       background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
       color: white;
       padding: .5rem;
       font-size: 22px;
       font-weight: 500;
   }
   
    .td-color {
       color: white;
       font-size: 1rem;
    }
   
   .table tbody tr td a{
       background-color:white;
       text-decoration: none;
       color: black;
       font-size: 16px;
       padding: .30rem;
       border-radius: 8px;
       font-weight: 580;
   }
   
   .table tbody tr td a:hover{
       background-color: #1C6F23;
       color: white;
   }
/*end añadir carrito*/

/* END PANEL DE CONTROL */
/* END PANEL DE CONTROL */
/* END PANEL DE CONTROL */



.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    text-align: center !important;
}

.slider-img img{
    width: 100%;
    height: 25rem;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.direcciones a{
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(255, 255, 255, .5);
    transition: .5s;
}

.efecto{
    animation-name: efecto;
    animation-duration: 1.5s;
}

@keyframes efecto {
    from {opacity: .4;}
    to {opacity: 1;}
}

.menu-fixed {
	position:fixed;
    top:0;
	width:100%;
 }

.ir-arriba{
    display: none;
    width: 50px;
    height: 50px;
    padding: 2rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.cerrar-sesion{
    width: 45%;
}

.cerrar-sesion img {
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    right: 18rem;
    margin-top: 1.1rem;

}

.cerrar-sesion .admin{
    right: 23rem;
}

.box-login{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    border-radius: 28px;
}

.box-login p {
    color: white;
}

.box-login h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.box-login input[type = "text"], .box-login input[type = "password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box-login input[type = "text"]:focus, .box-login input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box-login input[type = "submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box-login input[type = "submit"]:hover {
    cursor: pointer;
    background: #2ecc71;
}

.box-login input[name = "xdefecto"] {
    border: 2px solid #c72f2f;
}

.box-login input[name = "xdefecto"]:hover {
    cursor: pointer;
    background: #c72f2f;
}



@media (max-width: 1100px){ 
    .contenedor-general {
        width: 95%;
    }

    .contenido-carta {
        width: 95%;
    }

    .productos-carta {
        width: 90%;
    }

    .bienvenida-page > div > img:first-child {
        display: none;
    }

    .bienvenida-page > div {
        margin-top: 1rem;
    }

    .bienvenida-page > div > img:last-child {
        display: initial;
        width: 100%;
        height: 20rem;
        margin: 0;
    }

    .panel-control{
        width: 100%;
    }

}

@media (max-width: 950px) {

    .header-restaurante > div {
        height: 15vh;
    }

    .contenedor-general {
        width: 98%;
    }

    .panel-control{
        width: 100%;
    }


}

@media (max-width: 900px){ 
    .ir-arriba {
        right: -20px;
    }
}

@media (max-width: 830px) {
    .bienvenida-page > div > img:last-child {
        height: 15rem;
    }
}


@media (max-width: 860px){ 
    .header-restaurante nav {
        width: 100%;
    }

    .header-restaurante ul {
        width: 100%;
    }

    .header-restaurante li {
        width: 33%;
    }

    .header-restaurante li a {
        justify-content: center;
        height: 2.5rem;
        padding: 0;
        line-height: 1.8;
    }
    
    .logo-icono img{
        /*display: none;*/
        width: 40px;
        height: 40px;
    }

    .carrito-compras{
        width: 15px;
        height: 15px;
        padding-top: 13px;
    }

}

@media (max-width: 300px){
    .logo-icono img{
        width: 30px;
        height: 30px;
    }
}

/*START USUARIO*/
/*START USUARIO*/
/*START USUARIO*/

.header-inicio {
    background-color: #212F3D;
    width: 100%;
}

.contenido-header-inicio {
    display: flex;
}

.contenedor-img{
    background-size:cover;
    background-position: center center;
}

.contenido-header-inicio-img {
    width: 50%;
}

.box-usuariox {
    width: 360px;
    padding: 20px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #212F3D;
    border-radius: 20px;
}

.form-centro h1{
    color: white;
    text-align: center;
}

.form-centro p{
    color: white;
    display: inline-block;
}

.botonguardar input{
    text-align: center;
    border-radius: 10px;
    width: 78%;
    border: none;
    font-size: 16px;
    padding: .6rem .5rem;
}

.botonguardar input[type="submit"]:hover{
    background-color: #1C6F23;
    color: white;
    cursor: pointer;
}

.botonguardar input[type="submit"]{
    width: 34%;
    font-size: 22px;
    padding: .4rem 1rem;
    color: #212F3D;
    border: none;
    font-weight: 500;
}

/*END USUARIO*/
/*END USUARIO*/
/*END USUARIO*/


/*START RESPONSIVE BIENVENIDA*/
/*START RESPONSIVE BIENVENIDA*/
/*START RESPONSIVE BIENVENIDA*/

@media (max-width: 900px){ 
    .contenedor-general {
        width: 90%;
    }

    .bienvenida-page{
        width: 100%;
    }

    .destacados-bienvenida {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .destacados-bienvenida > div {
        margin: 1rem auto;
        width: 80%;
    }
    .panel-control{
        width: 100%;
    }
}

@media (max-width: 500px){ 
    .destacados-bienvenida h3{
        font-size: 1rem;
    }

    .destacados-bienvenida > div {
        width: 100%;
    }
}

/*END RESPONSIVE BIENVENIDA*/
/*END RESPONSIVE BIENVENIDA*/
/*END RESPONSIVE BIENVENIDA*/

/*START RESPONSIVE NOSOTROS*/
/*START RESPONSIVE NOSOTROS*/
/*START RESPONSIVE NOSOTROS*/

@media screen and (max-width: 800px){
    
    .div{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px){ 
    .contenido-main-somos > div > div {
        width: 100%;
    }
}
@media (max-width: 800px){ 
    .introduccion-quienes-somos > p {
        font-size: 1rem;
    }
}

/*END RESPONSIVE NOSOTROS*/
/*END RESPONSIVE NOSOTROS*/
/*END RESPONSIVE NOSOTROS*/

/*START RESPONSIVE USUARIO*/
/*START RESPONSIVE USUARIO*/
/*START RESPONSIVE USUARIO*/
@media (max-width: 655px){ 
    .contenedor-general {
        width: 90%;
    }

    .bienvenida-page{
        width: 100%;
    }

    .box-usuariox {
        width: auto;
        flex-direction: column;
        align-items: center;
    } 

    .form-centro h1{
        font-size: 20px;
    }

    .botonguardar input[type="submit"]{
        width: 40%;
        font-size: 10px;
    }
}

@media (max-width: 375px){
    .botonguardar input[type="submit"]{
        width: 50%;
        font-size: 8px;
        text-align: center;
    }

    .conetener-img{
        width: 10%;
    }
}
/*END RESPONSIVE USUARIO*/
/*END RESPONSIVE USUARIO*/
/*END RESPONSIVE USUARIO*/


/*STAR RESPONSIVE INDEX*/
/*STAR RESPONSIVE INDEX*/
/*STAR RESPONSIVE INDEX*/




@media (max-width: 910px){
    .cerrar-sesion img {
    margin-top: 0.5rem;
    }

    .cerrar-sesion .admin{
        right: 7rem;
    }
}

@media (max-width: 850px){
    .cerrar-sesion img {
    margin-top: 0.5rem;
    }
}

@media (max-width: 800px){

    .cerrar-sesion img{
        width: 40px;
        height: 40px;
    }

    .direcciones a{
        padding: 7px;
    }

    .slider{
        height: 300px;
    }

    .slider-img img{
        height: 300px;
    }

    .presentacion-restaurantes{
        display: block;
    }
}

@media (max-width: 680px){
    .header-inicio{
        height: 65px;
    }

    .cerrar-sesion {
        width: 60%;
    }

    .slider{
        height: 240px;
    }

    .contenedor-general h1{
        font-size: 30px;
    }

    .presentacion-restaurantes h2{
        font-size: 24px;
    }

    .slider-img img{
        height: 240px;
    }

    .presentacion-restaurantes img{
        height: 240px;
    }

    .contenido-header-inicio-img{
        width: 240px;
        height: 60px;
    }
}

@media (max-width: 576px){

    .contenedor-img{
        width: 240px;
    }

    .contenido-header-inicio-img{
        width: auto;
        height: 52px;
        margin: 6px 0;
    }

}

@media (max-width: 350px){

    .slider{
        height: 220px;
    }

    .slider-img img{
        height: 220px;
    }
}

@media (max-width: 300px){
    .slider{
        height: 180px;
    }

    .slider-img img{
        height: 180px;
    }

    .contenedor-general h1{
        font-size: 26px;
    }

    .presentacion-restaurantes h2{
        font-size: 20px;
    }

    .presentacion-restaurantes img{
        height: 160px;
    }

    .footer-inicio > div > div{
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .box-login{
        height: 100%;
        border-radius: 0;
    }

    .box-login h1{
        margin-top: 170px;
    }
}

@media (max-width: 200px){
    .box-login{
        height: 100%;
        border-radius: 0;
    }

    .box-login input[type="submit"]{
        width: 5rem;
        font-size: 0.7rem;
        padding: 14px;
    }

    .box-login input[type="text"]{
        width: 7rem;
        font-size: 0.7rem;
        padding: 14px;
    }

    .box-login input[type="password"]{
        width: 7rem;
        font-size: 0.7rem;
        padding: 14px;
    }

    .box-login h1{
        margin-top: 170px;
        font-size: 1rem;
    }
}

/*END RESPONSIVE INDEX*/
/*END RESPONSIVE INDEX*/
/*END RESPONSIVE INDEX*/

/*START RESPONSIVE PANEL*/
/*START RESPONSIVE PANEL*/
/*START RESPONSIVE PANEL*/

@media (max-width: 1040px){ 
    .contenido-panel-home p {
        font-size: 30px;
    }
}
@media (max-width: 604px){ 
    .contenido-panel-home p {
        font-size: 15px;
    }
}

@media (max-width: 750px){ 
    .contenido-panel-home a {
        font-size: 15px;
    }
}
@media (max-width: 604px){ 
    .contenido-panel-home a {
        font-size: 12px;
    }
}    

@media (max-width: 300px){ 
    .contenido-panel-home a {
        font-size: 10px;
    }
}

@media (max-width: 200px){ 
    .contenido-panel-home a {
        font-size: 8px;
    }
}    

@media (max-width: 180px){ 
        .contenido-panel-home a {
            font-size: 5px;
    }
}

@media (max-width: 604px){ 
    .contenido-panel-home img {
        width: 10rem;
    }
}

@media (max-width: 604px){ 
    .contenido-panel-home img {
        width: 10rem;
    }
}

@media (max-width: 270px){ 
    .contenido-panel-home img {
        width: 6rem;
    }
}

@media (max-width: 800px){ 
    .panel-control > nav a {
    font-size: 12px;
    }
}
@media (max-width: 645px){ 
    .panel-control > nav a {
        font-size: 8px;
    }
}

@media (max-width: 352px){
    .panel-control > nav a {
    font-size: 5.5px;
    }
}

@media (max-width: 650px){ 
    .formulario-panel h1{
        font-size: 20px;
    }
}

@media (max-width: 650px){ 
    .form-panel p{
        font-size: 10px;
    }
}

@media (max-width: 650px){ 
    .form-panel input{
        font-size: 10px;
    }
}

@media (max-width: 1200px){ 
    button, input, optgroup, select, textarea{
    width: 80%;
        }
}
    
@media (max-width: 1200px){ 
    .form-panel input {
     width: 40%;
    font-size: 15px;
    }
}
    
    
@media (max-width: 835px){ 
    .form-panel input {
    font-size: 10px;
        }
}
    
@media (max-width: 585px){ 
    .form-panel input {
    width: 50%;
    font-size: 8px;
    }
}
    
@media (max-width: 385px){ 
    .form-panel input {
    font-size: 6px;
    }
}

@media (max-width: 450px){
    .h-25r{
        height: 17rem;
    }
}

@media (max-width: 380px){
    .h-25r{
        height: 13rem;
    }
}

@media (max-width: 300px){
    .h-25r{
        height: 10rem;
    }
}

@media (max-width: 225px){
    .h-25r{
        height: 9rem;
    }
}

@media (max-width: 185px){
    .h-25r{
        height: 7rem;
    }
}
/*BANNER*/
@media (max-width: 1000px){
    .h-24r{
        height: 16rem;
    }
}

@media (max-width: 920px){
    .h-24r{
        height: 14rem;
    }
}

@media (max-width: 830px){
    .h-24r{
        height: 13rem;
    }
}

@media (max-width: 800px){
    .h-24r{
        height: 11rem;
    }
}

@media (max-width: 660px){
    .h-24r{
        height: 9rem;
    }
}

@media (max-width: 550px){
    .h-24r{
        height: 7rem;
    }
}

@media (max-width: 440px){
    .h-24r{
        height: 6rem;
    }
}

@media (max-width: 370px){
    .h-24r{
        height: 5rem;
    }
}

@media (max-width: 315px){
    .h-24r{
        height: 4rem;
    }
}

@media (max-width: 260px){
    .h-24r{
        height: 3rem;
    }
}

@media (max-width: 190px){
    .h-24r{
        height: 2rem;
    }
}

/*responsive añadir carrito*/
@media (max-width: 700px){
    .table thead tr th{
        font-size: 12px;
    }

    .carrito p{
        font-size: 10px;
    }

    .carrito form input[type="submit"]{
        width: 20%;
        font-size: 12px;
    }

    .carrito form select{   
        width: 20%;
        height: 30px;
        padding: .3rem 0.5rem;
  
    }
}

@media (max-width: 650px){

    .carrito form input[type="submit"]{
        width: 25%;
        font-size: 8px;
    }

}

@media (max-width: 380px){
    .carrito form input[type="submit"]{
        width: 50%;
        font-size: 14px;
    }
}
/*end responsive añadir carrtio*/

/*END RESPONSIVE PANEL*/
/*END RESPONSIVE PANEL*/
/*END RESPONSIVE PANEL*/


