.contenido-listar {
    width: 90%;
    margin: 0 auto;
}

.direccion-a {
    text-align: right;
}

.bottom {
    padding: .5rem 1.2rem !important;
    text-decoration: none;
}

table thead tr .th {
    color: #615E5E;
}

.formulario-panel form p select {
    -webkit-appearance: none;
    padding: .15rem .4rem;
}