.contenido-panel-home {
    padding-left: 12rem;
}

@media (max-width: 1200px) {
    .contenido-panel-home p  {
        font-size: 30px;
        
    }

    @media (max-width: 1000px) {
        .contenido-panel-home p  {
            font-size: 20px;
            
        }
    }

    @media (max-width: 1000px) {
        .contenido-panel-home img {
            width: 10rem;
            
        }
    }

    @media (max-width: 800px) {
        .contenido-panel-home{
            padding-left: 8rem;  
        }
    }

    @media (max-width: 800px) {
        .contenido-panel-home p{
            font-size: 18px; 
        }
    }

    @media (max-width: 800px) {
        .contenido-panel-home a{
            font-size: 10px; 
        }
    }

    @media (max-width: 700px) {
        .contenido-panel-home{
            padding-left: 5rem;  
        }
    }

    @media (max-width: 700px) {
        .contenido-panel-home p{
            font-size: 12px; 
        }
    }

    @media (max-width: 650px) {
        .contenido-panel-home a{
            font-size: 8px; 
        }
    }   

    @media (max-width: 560px) {
        .contenido-panel-home p{
            font-size: 8px; 
        }
    }

    @media (max-width: 560px) {
        .contenido-panel-home img {
            width: 6rem;
            
        }
    }

    @media (max-width: 560px) {
        .contenido-panel-home a{
            font-size: 6px; 
        }
    }
    @media (max-width: 500px) {
        .contenido-panel-home{
            padding-left: 3rem;  
        }
    }

    @media (max-width: 400px) {
        .contenido-panel-home{
            padding-left: 1rem;  
        }
    }
}


@media (max-width: 700px) {
    .nav-panel > nav a{
        font-size: 10px;  
    }
}   

@media (max-width: 400px) {
    .nav-panel > nav a{
        font-size: 8px;  
    }
}