@media (max-width: 1100px){ 
    .contenedor-general {
        width: 90%;
    }

    .bienvenida-page{
        width: 95%;
    }

    .destacados-bienvenida {
        width: 95%;
    }

}

@media (max-width: 950px){ 
    .contenedor-general {
        width: 98%;
    }
}