@media (max-width: 900px){ 
    .contenedor-general {
        width: 90%;
    }

    .bienvenida-page{
        width: 100%;
    }

    .destacados-bienvenida {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .destacados-bienvenida > div {
        margin: 1rem auto;
        width: 80%;
    }
}

@media (max-width: 500px){ 
    .destacados-bienvenida h3{
        font-size: 1rem;
    }

    .destacados-bienvenida > div {
        width: 100%;
    }
}
