.nav-panel-options ul li a {
    font-size: 13px;
}

@media (max-width: 1125px) {
    .img-panel-admin {
        width: 35% !important;
    }
    .nav-panel-options ul li a {
        font-size: 11px;
    }
    .contenedor-panel-admin {
        width: 90%;
    }
    .contenedor-panel-admin h1 {
        font-size: 24px;
    }
    .contenedor-panel-admin div a {
        font-size: 15px;
    }
    .contenedor-panel-admin div form button {
        font-size: 15px;
    }
    .contenedor-panel-admin table thead tr th {
        font-size: 14px;
    }
    .contenedor-panel-admin table tbody tr td {
        font-size: 14px;
    }
}

@media (max-width: 996px) {
    .nav-panel-options ul li a {
        font-size: 8px;
    }
    .boton-eliminar {
        font-size: 14px;
    }
}

@media (max-width: 892px) {
    .menu-admin {
        width: 20%;
    }
    .main-panel {
        width: 80%;
    }
    .contenedor-panel-admin table tbody tr td {
        padding-bottom: 0 !important;
    }
}

@media (max-width: 800px) {
    .boton-eliminar {
        font-size: 10px;
        text-align: center;
    }
}