.nav-panel-options ul li a {
    font-size: 15px;
}

.container-menu-panel::-webkit-scrollbar {
    width: 10px;   
}

.container-menu-panel::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    border: 1px solid grey;
}

.container-menu-panel::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container-menu-panel::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.container-menu-panel::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.container-menu-panel::-webkit-scrollbar-track:hover,
.container-menu-panel::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.translate-menu-panel-out {
    transform: translate(-18rem);
}