@media (max-width: 1100px){ 
    .contenedor-general {
        width: 90%;
    }

    .bienvenida-page{
        width: 100%;
    }

    .destacados-bienvenida {
        width: 100%;
    }
    
}

@media (max-width: 500px){ 
    .destacados-bienvenida h3{
        font-size: 1rem;
    }

}