html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
img{
	max-width: 40%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; 
    margin: 0 auto;
}
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(../img2/norteño.jpg);
    background-position: center center;
    background-size: cover;
    height: 60vh;
    min-height: 60rem;
}
.barra{
    width: 100%;
    height: 80px;
    background-color: #B89257;
    display: flex;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.contenedor{
	width: 100%;
	margin: 0 auto;
}
.seccion{
	margin-top: 90rem;
	margin-bottom: 2rem;
}
.fw-300{
	font-weight: 1000;
	color: #fff;
}
.site-footer {
	background-color: #684B1E;
    display: flex;
    width: 100%;
    height: 80px;
    text-align: center;
}
.site-footer p{
    color: white;
    margin:auto;
}
.redes img:hover{
	box-shadow: 0 0 100rem 0; 
	background-color: white;
}
.redes img{
	width: 8rem;
	background-color: #B89257;
}
.redes{
    width: 500px;
    display: flex;
    list-style: none;
}
.nav{
    width: 80%;
    display: flex;
    list-style: none;
}
.nav a{
    background-color: #B89257;
    color: #fff;
    text-decoration: none;
    width: 100%;
    margin: auto;
}
.centro{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 1000px;
}

/*MENU.HTML*/

.menu-carta{
    display: block;
    width: 100%;
    margin: 0;
}

/* AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.titulo-diseño{

}
.direccion-texto{
    display: block;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}
.direccion-carrito{
    float: right;
}
.carta{
    margin: 0;
}
.comidas{
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    margin: 0;
}
.h{
    margin: 0;
}
.bloque1{
    display: block;
    column-count: 2;
}
.bloque1 li{
    column-count: 2;
}
.bloque1 li p{
    text-align: right;
}
.bloque1 img{
    height: auto;
    max-width: 50%;
    float: right;
}
.bloque2{
    display: block;
    column-count: 2;
}
.bloque2 li{
    column-count: 2;
}
.bloque2 li p{
    text-align: right;
}
.bloque2 img{
    height: auto;
    max-width: 60%;
}
.bloque3{
    display: block;
    column-count: 2;
}
.bloque3 li{
    column-count: 2;
}
.bloque3 li p{
    text-align: right;
}
.bloque3 img{
    height: auto;
    max-width: 50%;
    float: right;
}