{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body {
	background: #DEDEDE;
	display: flex;
	min-height: 100vh;
}
form {
	margin: auto;
	width: 50%;
	max-width: 400px;
	background: #F3F3F3;
	padding: 20px;	
	border: 2px solid rgba(0,0,0,0.2);
	
}
input {
	padding: 20px;
	margin: 20px 0;
	font-size: 15px;
	display: block;
	width: 90%;
}
h1{
	text-align: center;
	margin-bottom: 10px;
	color: rgba(0,0,0,0.5);
}
input[type="submit"]{
	border: 0;
	color: brown;
    margin: auto;
	background: linear-gradient(#FFDA63, #FFB940);
	cursor: pointer;
	border-radius: 50rem;
	margin-bottom: 3;
}
input[type="submit"]:hover{
	opacity: 1;

}
input[type="submit"]:active{
	transform: scale(0.95);
}